.topo {
  display       : flex;
  flex-direction: column;
  margin-bottom : 10px;
  box-shadow: 2px 2px 5px #000;
}

#respostaCampoDeTexto, 
#historicoDeRespostas {
  text-align: right;
  font-size : 20px;

  width : 409px;
  height: 100px;

  background-color: #121212;
  color: #fff;
  border: #000;
}

#historicoDeRespostas {
  resize: none;
  display: none;
  overflow-y: scroll;
}


